body {
    font-family: font-family: 'Roboto', sans-serif;;
}
.verde {
    background-color: #28A745;
}
.imagenbanner {
    height: 30px;
}
h4 {
    font-weight: 300;
    color: #212529;

}
.card{
    object-fit: contain;
    text-align: left;
}
.card-img-top{
    padding-top: 0px;
    
}
p {
    color:#707070;
    font-weight: lighter;
}
.numeroverde {
    color: #28A745;
    font-weight: bold;
    font-size: x-large;
}
.numeros{
    text-align: right;
}
.cajaenviar{
    background-color: #28A745;
    height: 241px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.mb-3 {
    text-align: center;
}
.form-label {
    padding-top: 27px;
    font-size: x-large;
}
.piedepagina {
    height: 80px;
    font-family: 'Roboto', sans-serif;
    color:#707070;
    font-weight: lighter;
    text-align: center;
    padding-top: 10px;

}
.logonegro{
    height: 30px;
    text-align: center;
}
.piedepaginafooter{
    color:#707070;
    font-weight: lighter;
    text-align: center;
}
